*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
html,
body{
    height:100%;
    width:100%
}

html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    gap:20px;
    background-color:#181818;
    font-family:Arial,sans-serif;
}

h1{
    color:rgb(255,0,60);
}

button{
    padding : 10px 20px;
    font-size:16px;
    color:white;
    background-color : rgb(255,0,60);
    border:none;
    border-radius:5px;
    cursor:pointer;
    transition:background-color 0.3s ease;
}